<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayit.my.shop.web.admin.dao.ITbUserDao">
    <sql id="tbUser">
          a.id,
          a.username,
          a.password,
          a.phone,
          a.email,
          a.created,
          a.updated
    </sql>
    <select id="selectAll" resultType="TbUser">
        SELECT
          <include refid="tbUser"/>
        FROM
          tb_user AS a
    </select>

    <insert id="insert">
     INSERT INTO tb_user (
      id,
      username,
      password,
      phone,
      email,
      created,
      updated
    )
    VALUES
      (
        #{id},
        #{username},
        #{password},
        #{phone},
        #{email},
        #{created},
        #{updated}
      )

    </insert>

    <select id="selectById" resultType="TbUser">
          SELECT
        <include refid="tbUser"/>
          FROM
          tb_user AS a
          WHERE
          a.id = #{id}
    </select>

    <delete id="delete">
        delete from
        tb_user
        where
        id  = #{id}
    </delete>

    <update id="update">
       UPDATE
      tb_user
        SET
          username = #{username},
          password = #{password},
          phone = #{phone},
          email = #{email},
          created = #{created},
          updated = #{updated}
        WHERE id = #{id}
    </update>

    <select id="likeSelect" resultType="TbUser">
        SELECT
        <include refid="tbUser"/>
          FROM
          tb_user AS a
          WHERE
          a.username LIKE CONCAT ('%', #{username}, '%')
    </select>
    <select id="getByEmail" resultType="TbUser">
        SELECT
        <include refid="tbUser"/>
          FROM
          tb_user AS a
          WHERE
          a.email = #{email}
    </select>

    <select id="searchUser" resultType="TbUser">
        SELECT
        <include refid="tbUser"/>
        FROM
        tb_user AS a
        <where>
            <if test="username != null and username != ''">
                AND a.username  LIKE CONCAT ('%', #{username}, '%')
            </if>
            <if test=" phone != null and phone != ''">
                AND a.phone  LIKE CONCAT ('%', #{phone}, '%')
            </if>
            <if test="email != null and email != ''">
                AND a.email  LIKE CONCAT ('%', #{email}, '%')
            </if>

        </where>

    </select>

    <delete id="deleteMulti">
        delete from tb_user
        <if test="array != null and array.length > 0">
        where id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        </if>
    </delete>

    <select id="queryPage" resultType="TbUser" parameterType="Map">
        SELECT
        <include refid="tbUser"/>
        FROM
        tb_user AS a
        <where>
            <if test="pageParams.username != null and pageParams.username != ''">
                AND a.username  LIKE CONCAT ('%', #{pageParams.username}, '%')
            </if>
            <if test=" pageParams.phone != null and pageParams.phone != ''">
                AND a.phone  LIKE CONCAT ('%', #{pageParams.phone}, '%')
            </if>
            <if test="pageParams.email != null and pageParams.email != ''">
                AND a.email  LIKE CONCAT ('%', #{pageParams.aemail}, '%')
            </if>

        </where>
        limit #{start},#{length}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from tb_user as a
        <where>
            <if test="username != null and username != ''">
                AND a.username  LIKE CONCAT ('%', #{username}, '%')
            </if>
            <if test=" phone != null and phone != ''">
                AND a.phone  LIKE CONCAT ('%', #{phone}, '%')
            </if>
            <if test="email != null and email != ''">
                AND a.email  LIKE CONCAT ('%', #{email}, '%')
            </if>

        </where>
    </select>

</mapper>